<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>samplepage</title>
</head>
<body>
    <button><a href="/main">main page</a> </button>
    <button><a href="/view">view page</a> </button>
    <button><a href="/logout">logout page</a> </button>
<br>
<br>
<br>
<br>
<br>

<form method="POST" action="/sign">
    name :
    <input type="text" name="name" >
    password :
    <input type="password" name="password">
    <button>submit</button>
</form>
 {{data}}

</body>
</html>